<div id="shopify-section-{{ section.id }}" class="shopify-section index-section">
  <div data-section-id="{{ section.id }}" data-section-type="logo-bar">
    <div class="page-width">
      {% if section.settings.heading != blank %}
        <div class="section-header">
          <h2 class="section-header__title">{{ section.settings.heading }}</h2>
        </div>
      {% endif %}

      <div class="logo-bar logo-bar--{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.settings.logo_image != blank %}
            <div class="logo-bar__item">
              <img
                class="logo-bar__image"
                src="{{ block.settings.logo_image | img_url: '360x' }}"
                srcset="{{ block.settings.logo_image | img_url: '180x' }} 180w, {{ block.settings.logo_image | img_url: '360x' }} 360w, {{ block.settings.logo_image | img_url: '540x' }} 540w"
                sizes="(max-width: 589px) 100vw, 20vw"
                alt="{{ block.settings.logo_alt | escape }}"
              >
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logo bar",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Reasons why to choose us."
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo image"
        },
        {
          "type": "text",
          "id": "logo_alt",
          "label": "Image alt text",
          "default": "Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo bar",
      "category": "Image"
    }
  ]
}
{% endschema %}
